@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
} 

h1,
h1 strong {
    letter-spacing: -1px;
    font-family: 'Source Code Pro', sans-serif !important;
}

h2,
h3,
h4,
h5,
h6,
th {
    letter-spacing: -0.7px;
    font-family: 'Source Code Pro', sans-serif !important;
}

.navbar {
  border-bottom: none;
  box-shadow: 0 0 5em rgba(0, 0, 0, .10);
}

::selection {
    background-color: #ffa31a;
    color: #ffffff;
}

::-moz-selection {
    background-color: #ffa31a;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #ffa31a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffa31a;
}

.dropdown-wrapper .nav-dropdown, .suggestions {
   box-shadow: 0 0 5em rgba(0, 0, 0, .10);
   border-radius: 10px !important;
   border: none !important;
   padding: 1.2rem 0 !important;
}

.search-box input {
  border: none !important;
  background: #000 url(/images/search.svg) 0.6rem 0.5rem no-repeat !important;
  background-size: 0.9rem !important;
}

input::placeholder {
    color: #ffa31a !important;
}

h2 {
  border-bottom: none !important;
}

hr, .header-anchor, .vssue-header-powered-by {
  display: none;
}

.custom-block.tip {
  background-color: #eaecef;
  border-color: #4285f4;
  border-radius: 5px;
}

#header {
  height: 100px;
  padding-left: 7%;
  padding-right: 7%;
  text-transform: uppercase;
}

.header-wrapper {
  height: 60px;
  line-height: 60px;
}

.post-title {
  color: #ffa31a !important;
}

.ui-post-title a:hover {
  color: #ffa31a !important;
}

.ui-post-title a, .ui-post-summary, .ui-post-author, .ui-post-date, .ui-post-tag {
  color: #fff !important;
}

.nav-link:hover, .nav-link.router-link-active, .feather-rss:hover {
  color: #fff !important;
}

.feather-rss {
  color: #000;
}

.feather-github:hover, .feather-facebook:hover, .feather-linkedin:hover, .feather-youtube:hover {
  color: #ffa31a;
}

.home-link {
  font-size: 20px !important;
}

a[data-v-6e4eacc1] {
  background: #ffa31a !important;
  text-decoration: none !important;
}

a span[data-v-6e4eacc1] {
  color: #000 !important;
}

a[data-v-6e4eacc1]:before {
 background: #000 !important;
}

a[data-v-6e4eacc1]:after {
 border-left: 10px solid #ffa31a !important;
}

.blog-tag {
  background: #ffa31a !important;
  color: #000;
}

.blog-tag:hover, .vuepress-blog-theme-content {
  color: #fff !important;
}

.vuepress-toc {
  padding-top: 12rem !important;
}

.vuepress-toc .vuepress-toc-item {
  border-left: 5px solid rgba(0,0,0,0.08);
}

.content__default pre, .content__default pre[class*="language-"] {
  background: #ffa31a !important;
}

.content__default pre code, .content__default pre[class*="language-"] code {
  color: #000 !important;
}

.pagination > li > a {
  background: #ffa31a !important;
  color: #000 !important;
  border: 1px solid #212121 !important;
  text-transform: lowercase;
}