$accentColor = #ffa31a

$textColor = #ffffff
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = red

$bgColor = $darkTextColor
$headerBgColor = #ffa31a

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%) 

// layout
$headerHeight = 60px