@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins&family=Rosario&family=Source+Code+Pro&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
} 

.home .hero img
  max-width 450px!important

.navbar .site-name {
  font-size: 1em !important;
}

.navbar {
  border-bottom: none;
  box-shadow: 0 0 5em rgba(0, 0, 0, .10);
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #4285f4;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a76d8;
}

.dropdown-wrapper .nav-dropdown, .suggestions {
   box-shadow: 0 0 5em rgba(0, 0, 0, .10);
   border-radius: 10px !important;
   border: none !important;
   padding: 1.2rem 0 !important;
}

.search-box input {
  border: none !important;
  background: #eaecef url(/assets/img/search.83621669.svg) 0.6rem 0.5rem no-repeat !important;
  background-size: 0.9rem !important;

}

h2 {
  border-bottom: none !important;
}

hr, .header-anchor {
  display: none;
  /*
  position: absolute;
  left: 28%;
  width: 10% !important;
  */
}