$accentColor = #4285f4
$textColor = #2e475d
$borderColor = #eaecef
$codeBgColor = #fffff
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$nprogressColor = #4285f4

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 900px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px